body{
    background-color: #F8E9E9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hidden{
    display: none;
}

.container{
    border: 7px solid #394648;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    border: 1px solid #394648;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 5px;
    max-width: 300px;
    
}

.bookmarks{
    background-color: thistle;
    border: 1px solid #394648;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 5px;
    max-width: 300px;
    margin: 1px;
}

.listing-rating {
    justify-content: right;
}

.text-box{
    width: 90%;
    margin-right: 10px;
}

.button{
    width: 100px;
    height: 30px;
    margin: 20px;
    background-color: #394648;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.smallbutton{
    width: 70px;
    height: 20px;
    margin: 3px;
    background-color: #394648;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button select{
    display: none;
    position: relative;
}


/*
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
